PyQt5<=5.15.10
pydub<=0.25.1
psutil<=5.9.4
colorama<=0.4.6
beautifulsoup4<=4.11.2
requests>2.32.0
opencv-python<=4.8.0.74
onnxruntime<=1.16.3
onnxruntime-gpu<=1.17.1
insightface<=0.7.3
numpy<=1.26.2
shodan<=1.30.1
